:root {
--focus-color:#2196F3;
--text-color:#212121;
--hero-color: #FFFFFF;
--button-color: #FFFFFF;
--additional-text-color: #757575;
}
.all-page {
background-color: #FFFFFF; 
font-style: normal; 
font-family: 'Roboto', 'Raleway', sans-serif;
text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin 0;
}
ul,
ol {
padding-left: 0;
margin 0;
}
.top {
background-color: #FFFFFF;
margin: 0px;
}
.bottom {
background-color: #2F303A;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--hero-color);
text-decoration: none;
}
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-decoration: none;
display: inline-block;
margin-top: 0px
;
}
.logo-web {
color: #2196F3;
}
.logo-studio {
color: #000000;
}
.logo-studio-bot {
color: #FFFFFF;
}
.top-position {
display: flex;
padding-left: 215px;
padding-right: 215px;
justify-content: space-between;
align-items: center;
}
.top-item {
display: inline-block;
justify-content: flex-start;
align-items: flex-start;
margin-left: 0px;
}
.top-item:first-child {
margin-left: 93px;
}
.top-item:not(:last-child) {
margin-right: 50px;
}
.list {
list-style: none;
}
.container {
width: 1200px;
}
.navigation {
color: var(--text-color); text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
display: flex;
}
.navigation:hover,
.navigation:focus {
color: var(--focus-color);
}
.contacts {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--additional-text-color); text-decoration: none;
}
.contacts:hover,
.contacts:focus {
color: var(--focus-color);
}
.contacts-bottom {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
font-style: normal;
text-decoration: none;
}
.contacts-bottom:hover,
.contacts-bottom:focus {
color: var(--focus-color);
}
.hero {
background-color: #2F303A;
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hero-color);
flex-direction: row;
flex-wrap: wrap;
padding-left: 452px;
padding-right: 452px;
padding-top: 200px;
padding-bottom: 30px;
}
.section-hero {
width: 1600px;
flex-direction: row;
flex-wrap: wrap;
padding-left: 452px;
padding-right: 452px;
padding-top: 200px;
padding-bottom: 280px;
}
.button {
background-color: #2196F3;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
color: var(--button-color);
margin-left: 700px;
margin-right: 700px;
margin-top: 0px;
border-radius: 4px;
width: 200px;
padding-top: 10px;
padding-bottom: 10px;
}
.button:hover,
.button:focus {
cursor: pointer;
}
.button-portfolio {
background-color: #F5F4FA;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
font-family: 'Roboto';
display: inline-block;
margin-left: 100px;
background-color: teal;
}
.button-portfolio:hover,
.button-portfolio:focus {
color: var(--button-color);
background-color: var(--focus-color);
cursor: pointer;
}
.header-text-box {
background-color: yellow;
width: 1200;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.header-text {
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.03em;
color: var(--text-color);
list-style: none;
}
.ideas {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-color);
background-color: red;
}
.text {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--additional-text-color);
background-color: aquamarine;
}
.second-header {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
background-color: brown;
}
.employee {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
background-color: blueviolet;
}
.position {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--additional-text-color);
background-color: aqua;
}
.portfolio-header {
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--text-color);
background-color: chartreuse;
}
.portfolio-text {
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--additional-text-color);
background-color: darkorange;
}
.adress {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
background-color: #2F303A;
margin-top: 20px;
margin-bottom: 0px;
}
.bottom-box {
padding: 60px 215px;
width: 1200px;
}