:root {
--focus-color:#2196F3;
--text-color:#212121;
--hero-color: #FFFFFF;
--button-color: #FFFFFF;
--additional-text-color: #757575;
}
.all-page {
background-color: #FFFFFF; 
font-style: normal; 
font-family: 'Roboto', 'Raleway', sans-serif;
text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin 0;
}
ul,
ol {
padding-left: 0;
margin 0;
}
.top {
background-color: #FFFFFF;
margin: 0px;
}
.bottom {
background-color: #2F303A;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--hero-color);
text-decoration: none;
}
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-decoration: none;
margin-left: 215px;
margin-right: 93px;
}
.logo-web {
color: #2196F3;
}
.logo-studio {
color: #000000;
}
.logo-studio-bot {
color: #FFFFFF;
}
.top-position {
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
}
.top-item {
display: inline-block;
justify-content: flex-start;
margin-left: 50px;
}
.top-item:last-child {
margin-right: 215px;
}
.list {
list-style: none;
}
.navigation {
color: var(--text-color); text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
width: 294px;
padding-right: 50px;

}
.navigation:hover,
.navigation:focus {
color: var(--focus-color);
}
.contacts {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--additional-text-color); text-decoration: none;

}
.contacts:last-child {
}
.contacts:hover,
.contacts:focus {
color: var(--focus-color);
}
.contacts-bottom {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
font-style: normal;
text-decoration: none;
}
.contacts-bottom:hover,
.contacts-bottom:focus {
color: var(--focus-color);
}
.hero {
background-color: #2F303A;
width: auto;
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hero-color);
width: 696px;
flex-direction: row;
flex-wrap: wrap;
padding-left: 252px;
padding-right: 252px;
padding-bottom: 30px;
margin: 0px;
}
.section-hero {
width: 1600px;
flex-direction: row;
flex-wrap: wrap;
padding-left: 252px;
padding-right: 252px;
padding-top: 200px;
padding-bottom: 280px;
margin 0;
}
.button {
background-color: #2196F3;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
color: var(--button-color);
margin-left: 500px;
margin-right: 500px;
margin-top: 0px;
border-radius: 4px;
width: 200px;
padding-top: 10px;
padding-bottom: 10px;
}
.button:hover,
.button:focus {
cursor: pointer;
}
.button-portfolio {
background-color: #F5F4FA;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
font-family: 'Roboto';
display: inline-block;
border-radius: 4px;
}
.button-portfolio:hover,
.button-portfolio:focus {
color: var(--button-color);
background-color: var(--focus-color);
cursor: pointer;
}
.header-text-box {
width: 1200;
display: inline-block;
margin 0;
flex-wrap: wrap;
padding-left: 215px;
padding-right: 215px;
}
.header-list-item {
flex-wrap: wrap;
width: 270px;
padding-left: 15px;
padding-right: 15px;
display: inline-block;
justify-content: space-around;
}
.header-list-item:not(:last-child) {
margin-right: 30px;
}
.header-text {
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.03em;
color: var(--text-color);
list-style: none;
display: inline-block;
justify-content: space-between;
padding-top: 103px;
}
.header-list-item .ideas {
display: flex;
justify-content: space-around;
align-items: flex-start;
margin 0;
flex-wrap: wrap;
justify-content: space-between;
}
.ideas {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-color);
display: inline-block;
justify-content: space-between;
}
.text {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--additional-text-color);
}
.second-header-box {
display: inline-block;
justify-content: center;
align-items: center;
padding-left: 215px;
padding-right: 215 px;
}
.second-header {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
text-align: center;
display: flex;
justify-content: center;
text-align: center;
margin-bottom: 50px;
}
.second-header-item {
display: inline-block;
justify-content: center;
}
.second-header-item:not(:last-child) {
margin-right: 30px;
}
.team-box {
width: 1600px;
display: inline-block;
justify-content: center;
align-items: center;
padding-left: 15px;
padding-right: 15 px;
}
.team-box-item {
display: inline-block;
margin-left: 15px;
margin-right: 15px;
}
.team-box-item:first-child {
margin-left: 200px;
}
.team-box-item:last-child {
margin-right: 200px;
}
.employee {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
margin-bottom: 10px;
margin-top: 30px;
}
.position {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--additional-text-color);
}
.button-list {
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 495px;
padding-right: 495px;
margin-bottom: 34px;
margin-top: 94px;
}
.button-list-item {
display: inline;
margin-left: 8px;
margin-right: 8px;
}
.portfolio-header {
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--text-color);
margin: 0;
padding-left: 24px;
}
.portfolio-text {
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--additional-text-color);
margin-top: 4px;
padding-left: 24px;
}
.portfolio-list {
width: 1600px;
display: inline-block;
justify-content: center;
align-items: center;
padding-left: 215px;
padding-right: 215 px;
}
.portfolio-list-item {
display: inline-block;
margin: 15px;
border: 1px solid #EEEEEE
}
.adress {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
background-color: #2F303A;
margin-top: 20px;
margin-bottom: 0px;
margin-left: 215px;
}
.bottom-box {
padding: 60px 15px;
}